@font-face {
  font-family: 'poppins';
  src: url('fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'poppins-medium';
  src: url('fonts/Poppins-Medium.ttf');
}

@font-face {
  font-family: 'poppins-italic';
  src: url('fonts/Poppins-Italic.ttf');
}

@font-face {
  font-family: 'alt';
  src: url('fonts/MonsieurLaDoulaise-Regular.ttf');
}

.app {
  text-align: center;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-45deg, #ffcccb, #d3c9ff, #c8f0ff, #d6ffd0);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
  width: 100vw;
  min-width: 450px;
  height: 100vh;
  min-height: 450px;
  color: rgb(34, 34, 34);
  scroll-behavior: smooth;
  overflow: hidden;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

h1 {
  font-family: 'alt';
  font-size: 64px;
  margin-top: 0px;
  margin-bottom: 0px;
}

h2 {
  font-family: 'poppins';
  font-size: 1.7vw;
  margin-top: 0px;
}

h3 {
  font-family: 'poppins-italic';
  font-size: 1.2vw;
}

h4 {
  font-size: 20px;
  margin-top: -10px;
}

h5 {
  font-family: 'alt';
  font-size: 9vw;
  margin-top: 0;
  margin-bottom: -25px;
}

h6 {
  font-family: 'poppins-medium';
  font-size: 2vw;
  margin-top: 10px;
  margin-bottom: -5px;
}

.h7 {
  font-family: 'poppins-italic';
  font-size: 2vw;
  margin-top: 3vh;
}

aside {
  display: inline-flex;
}

.container {
  position: relative;
  top: 45%;
  transform: translate(0, -40%);
  margin-left: 12.5vw;
  overflow: hidden;
  width: 75vw;
}

.container2 {
  background: linear-gradient(rgba(255, 255, 255, 0.39), rgba(255, 255, 255, 0.082));
  position: absolute;
  left: 17%;
  margin-top: 8%;
  border-style: solid;
  border-color: rgb(34, 34, 34);
  border-width: 0.2vw;
  border-radius: 2vw;
  box-shadow: 15px 15px 40px 0px rgba(34, 34, 34, 0.2);
  padding: 30px;
  overflow: hidden;
  width: 60vw;
}

.container3 {
  position: absolute;
  left: 12.5%;
  right: 12.5%;
  margin-top: 8%;
  overflow: hidden;
}

.container4 {
  background: linear-gradient(rgba(255, 255, 255, 0.39), rgba(255, 255, 255, 0.082));
  position: absolute;
  left: 4%;
  margin-top: 8%;
  border-style: solid;
  border-color:rgb(34, 34, 34);
  border-width: 0.2vw;
  border-radius: 2vw;
  box-shadow: 15px 15px 40px 0px rgba(34, 34, 34, 0.2);
  padding: 10px;
  overflow: hidden;
  width: 90vw;
}

.item-container {
  display: inline-flex;
  max-height: 70vh;
  max-width: 80vw;
  overflow: hidden;
}

.item2-container {
  display: inline-flex;
  max-height: 70vh;
  max-width: 90vw;
  overflow: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.item {
  background: linear-gradient(rgba(255, 255, 255, 0.39), rgba(255, 255, 255, 0.082));
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  padding: 1.5vw;
  border-style: solid;
  border-width: 0.2vw;
  border-color:rgb(34, 34, 34);
  border-radius: 2vw;
  box-shadow: 3px 3px 10px 0px rgba(34, 34, 34, 0.2);
  max-width: 20vw;
  max-height: fit-content;
  overflow: auto;
}

.item2 {
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 3px;
}

.header {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
  margin-top: 2vh;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  margin-bottom: 2vh;
  z-index: 2;
  background-color:rgb(34, 34, 34);
  border-radius: 50px;
  padding: 8px;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 3px 3px 10px 0px rgba(34, 34, 34, 0.2);
}

.icon {
  width: 2vw;
  height: auto;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}

.nav-button {
  font-family: 'poppins-medium';
  font-size: 1.2vw;
  background: transparent;
  border-style: solid;
  border-color:rgb(34, 34, 34);
  border-width: 0.2vw;
  border-radius: 50px;
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 1vw;
  margin-right: 1vw;
  transition: all 0.1s;
  z-index: 1;
}

.nav-button:hover {
  background-color:rgb(34, 34, 34);
  color: white;
  box-shadow: 3px 3px 10px 0px rgba(34, 34, 34, 0.2);
}

.nav-button:focus {
  background-color:rgb(34, 34, 34);
  color: white;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  background-color:rgb(34, 34, 34);
  color: white;
  text-align: center;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.item2:hover .overlay {
  opacity: 0.80;
}

.label-container {
  padding: 40px;
}

.image {
  width: 15vw;
  height: auto;
  overflow: hidden;
}

.image2 {
  width: 29vw;
  height: auto;
  overflow: hidden;
}