@font-face {
  font-family: 'manrope';
  src: url('fonts/Manrope-Medium.ttf');
}

@font-face {
  font-family: 'manrope-semibold';
  src: url('fonts/Manrope-SemiBold.ttf');
}

@keyframes expand {
    0% {transform: scale(1);}
    100% {transform: scale(1.5);}
}

@keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

@keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}
}

:root {
  --forest: #05b914;
  --dgreen:  #00780a;
  --grey: #211103;
}

.app {
  text-align: left;
  justify-content: center;
  align-items: center;

  min-width: 450px;
  min-height: 450px;

  box-sizing: border-box;
  padding: 6rem;

  background-image: url(/src/images/a.png);
  background-size: contain;
  background-repeat: no-repeat;
  color: var(--grey);
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-family: 'manrope-bold';
  font-size: 8rem;
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  font-family: 'manrope-bold';
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 0;
}

h3 {
  font-family: 'manrope';
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 0;
}

h3 span {
  font-size: 2rem;
}

p {
  font-family: 'manrope';
  font-size: 1rem;
  margin-top: 0.5rem;
}

a {
  font-family: 'manrope';
  font-size: 1.1rem;
}

.nav {
  margin-right: 1rem;
  padding: 0.4rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  text-decoration: none;
  background-color: var(--forest);
  color: ivory;
  border-radius: 2rem;
}

.nav:hover {
  background-color: var(--dgreen);
}

.icon {
  width: 3.5rem;
  margin-top: 1.2rem;
  margin-left: 0.2rem;
}

.icon:hover {
  animation: rotate 2s infinite;
}

.home {
  width: 3.5rem;
  position: fixed;
  right: 1.8rem;
  bottom: 2rem;
}

.home:hover {
  animation: rotate 2s infinite;
}

.container {
  padding-top: 5rem;
}

.proj-grid {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.dev-proj {
  -ms-flex: 44%;
  flex: 44%;
  max-width: 44%;
  padding-top: 0rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1rem;
  margin-right: 1rem;
  background-color: var(--ivory);
  box-shadow: 0.4rem 0.4rem var(--grey);
  border: 0.1rem solid var(--grey);
  border-radius: 1.5rem;
}

.link {
  color: var(--forest);
  text-decoration: none;
  position: relative;
}

.link::after {
	content: '';
	position: absolute;
	height: 0.1rem;
	left: 0;
	bottom: 0;
	width: 0;
	background-color: var(--forest);
	transition: width 0.2s;
}

.link:hover:after {
	width: 100%;
}

.proj2-grid {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.column {
  -ms-flex: 32.5%;
  flex: 32.5%;
  max-width: 32.5%;
  margin-right: 0.5rem;
}

.column img {
  margin-top: 0.5rem;
  vertical-align: middle;
  width: 100%;
}

.item {
  position: relative;
}

.overlay {
  position: absolute;
  background-color: var(--grey);
  color: ivory;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  margin-top: 8px;
  padding-left: 1rem;
  padding-right: 1rem;
  transition: .3s ease;
}

.item:hover .overlay {
  opacity: 0.80;
}

@media screen and (max-width: 1150px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
  .dev-proj {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

@media screen and (min-width: 800px) {
  h1 {
    margin-top: 6rem;
  }
  .icon {
    margin-bottom: 10rem;
  }
}

@media screen and (min-width: 1500px) {
  h1 {
    margin-top: 11rem;
  }
  .icon {
    margin-bottom: 16rem;
  }
}