@font-face {
  font-family: 'poppins';
  src: url('fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'poppins-medium';
  src: url('fonts/Poppins-Medium.ttf');
}

@font-face {
  font-family: 'poppins-italic';
  src: url('fonts/Poppins-Italic.ttf');
}

@font-face {
  font-family: 'azeret-bold';
  src: url('fonts/AzeretMono-Bold.ttf');
}

@font-face {
  font-family: 'azeret-medium';
  src: url('fonts/AzeretMono-Medium.ttf');
}

.app {
  text-align: center;
  justify-content: center;
  align-items: center;

  width: 100vw;
  min-width: 450px;

  height: 100vh;
  min-height: 450px;

  background-image: url('images/gradient.jpg');
  background-size: cover;
  color: rgb(34, 34, 34);
  scroll-behavior: smooth;
  overflow: hidden;
}

h1 {
  font-family: 'azeret-medium';
  font-size: 1.5vw;
  padding: 40px;
  line-height: 1.8;
}

h2 {
  font-family: 'poppins';
  font-size: 1.7vw;
  margin-top: 0px;
}

h3 {
  font-family: 'poppins-italic';
  font-size: 1.2vw;

  padding: 5px;
}

h4 {
  font-size: 20px;
  margin-top: -10px;
}

h5 {
  font-family: 'azeret-bold';
  font-size:  9vw;
  margin-top: 0;
  margin-bottom: -25px;
}

h6 {
  font-family: 'poppins-medium';
  font-size: 2vw;
  margin-top: 10px;
  margin-bottom: -5px;
}

.h7 {
  font-family: 'poppins-italic';
  font-size: 2vw;
  margin-top: 4vh;
}

.h8 {
  font-family: 'azeret-medium';
  font-size: 1.7vw;
  margin-top: 5vh;
  padding: 10px;
}

.h9 {
  font-family: 'azeret-medium';
  font-size: 1.7vw;
}

.container {
  position: absolute;
  align-content: center;

  width: 80vw;
  left: 10vw;

  height: 60vh;
  top: 20vh;
}

.container2 {
  position: absolute;
  overflow: auto;
  align-content: center;

  width: 80vw;
  left: 10vw;

  height: 70vh;
  top: 15vh;

  border-style: solid;
  border-color: rgb(34, 34, 34);
  border-width: 0.2vw;
  border-radius: 2vw;
  box-shadow: 15px 15px 40px 0px rgba(34, 34, 34, 0.1);
}

.container3 {
  position: absolute;
  align-content: center;

  width: 90vw;
  left: 5vw;

  height: 70vh;
  top: 15vh;
}

.container4 {
  position: absolute;
  
  width: 92vw;
  left: 4vw;

  height: 75vh;
  top: 12.5vh;

  border-style: solid;
  border-color:rgb(34, 34, 34);
  border-width: 0.2vw;
  border-radius: 2vw;
  box-shadow: 15px 15px 40px 0px rgba(34, 34, 34, 0.1);
}

aside {
  float: left;
}

.item-container {
  display: inline-flex;
}

.item2-container {
  display: inline-flex;
  height: 72vh;
  width: 90vw;
  overflow: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.item {
  align-content: center;
  overflow: auto;

  width: 42vw;
  height: 45vh;

  margin-left: 1.5vw;
  margin-right: 1.5vw;

  border-style: solid;
  border-width: 0.2vw;
  border-color:rgb(34, 34, 34);
  border-radius: 2vw;
  box-shadow: 3px 3px 10px 0px rgba(34, 34, 34, 0.1);
}

.item2 {
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 3px;
}

.header {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
  margin-top: 4vh;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  margin-bottom: 4vh;
  z-index: 2;
  background-color:rgb(34, 34, 34);
  border-radius: 50px;
  padding: 7px;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 3px 3px 10px 0px rgba(34, 34, 34, 0.1);
}

.icon {
  width: 2vw;
  height: auto;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}

.nav-button {
  font-family: 'azeret-medium';
  font-size: 1.2vw;
  background: transparent;
  border-style: solid;
  border-color:rgb(34, 34, 34);
  border-width: 0.2vw;
  border-radius: 50px;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 1vw;
  margin-right: 1vw;
  z-index: 1;
  box-shadow: 3px 3px 10px 0px rgba(34, 34, 34, 0.1);
}

.nav-button:hover {
  background-color:rgb(34, 34, 34);
  color: white;
  box-shadow: 3px 3px 10px 0px rgba(34, 34, 34, 0.2);
}

.nav-button:focus {
  background-color:rgb(34, 34, 34);
  color: white;
}

.overlay {
  position: absolute;
  align-content: center;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  background-color:rgb(34, 34, 34);
  color: white;
  text-align: center;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.item2:hover .overlay {
  opacity: 0.80;
}

.label-container {
  padding: 35px;
}

.image {
  height: 40vh;
  padding: 10px;
  padding-left: 20px;
}

.image2 {
  width: 29vw;
  height: auto;
  overflow: hidden;
}
